.header
{
    width:auto;
    height:auto;
}


.background
{
    color:darkslategray;

}

.title
{
    text-align: center;
    color: darkslategray;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
}

.main
{
    margin:auto;
    width: 1600px;
    height: 1080px;
    background-color: white;
}

.contentbox
{
    display:inline-block;
    text-align: center;
    width: inherit;
    height: 900px;
    background-color: cornsilk;
}

.content{
    margin: auto;
    width: 1080px;
    height: inherit;
    background-color: darkgreen;
}

.footer {
    margin: auto;
    margin-top: 20px;
    width: 1200px;
    border-top: solid;
    border-top-width: 5px;
    border-color: darkslategray;
    text-align: center;
    display:block;
}

.sidelist {
    padding: 0;
    text-align: center;
    display: inline-block;
    width: 240px;
    height: 600px;
    background-color: darkseagreen;
    margin: 0;
    text-decoration: none;
    font-size: 50px;
    position: fixed;
   
}

a:link {
    text-decoration: none;
    color: darkslategray;
}

a:visited {
    text-decoration: none;
    color: darkslategray;
}

a:hover{
    color: black;
}

.list{
    margin:0;
}