.header
{
    width:auto;
    height:auto;
}


.background
{
    color:darkslategray;

}

.title
{
    text-align: center;
    width: auto;
    height: auto;


}

.main
{
    width: 1080px;
    height: auto;
    background-color: cornsilk;
}

.footer
{
    border-color: darkslategray;
    border-top-width: 5px;
}

.list 
{
}