#toc{
    background-color: #0d1117;
}

.section-nav {
    max-width: 360px;
    height: auto;
    background-color: #0d1117;
    padding: 10px 30px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    align-self: start;
}

aside{
    position: -webkit-sticky;
    position: sticky;
    align-self: start;
    top: 100px;
    grid-area: aside;
}

h2, h3, h4, h5, h6 {
    scroll-margin-top: 100px; /* 헤더와 TOC의 높이에 따라 조정 */
}

