<!DOCTYPE html>
<html>

<script src="/assets/js/BamOwlScript.js"></script>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/BamOwl4.css">
    <title>BamOwl</title>

    <!-- tipuesearch -->
    <link rel="stylesheet" href="/assets/tipuesearch/css/tipuesearch.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/tipuesearch/tipuesearch_content.js"></script>
    <script src="/assets/tipuesearch/tipuesearch_set.js"></script>
    <script src="/assets/tipuesearch/tipuesearch.min.js"></script>



</head>

<body>
    <header>
        <p>
            <div class="topnav">
                <div class="sideNavIcon" onclick="sideNav(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div><!-- 메뉴 아이콘 -->
                <a href="{{site.data.navigation[0].link}}"><img src="/assets/img/BamOwl(DarkSlateGray).gif" style="width:150px" name="home"></a><!-- 홈페이지 로고 및 링크-->
                <form action="/search" class="search-container">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <input type="text" name="q" placeholder="Search.." pattern=".{1,}" title="At least 1 characters" required>
                </form>
                

            </div>
        </p>
    </header>

    <section>
        <div id="mySidenav">
            <div href="javascript:void(0)" class="hidden">
                <div class="sideNavIcon">
                    <div class="closebtn">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </div>
            </div>
            <div id="mySideList" class="hidden">
                {% for item in site.data.navigation %}
                    <a class="boardlink" href="{{item.link}}" {% if page.url == item.link %} style="color: cadetblue;" {% endif %}>
                        {{item.name}}
                    </a>
                {% endfor %}
            </div>
        </div>
    </section><!--SideNavgation-->

    <section id="main" class="main-box">
        <section class="content-box">
            {{content}}
        </section>
    


    </section><!--ContentBox-->


    <p style="margin-top:15px;" class="top"></p>
    <div class="footer_info">
        <p>© 2020 BamOwl</p>
        Email: bamtoliya@gmail.com
    </div>
</body>

</html>